@import "tailwindcss";

/* Reset */
/* Safer reset */
* {
  box-sizing: border-box;
}



/* Base body styles */
body {
  font-family: sans-serif;
  background-color: #F2F4F6;
  color: #000;
}

.text-small-300 {
  @apply text-sm font-light;
}

@media (min-width: 1920px) {
  .custom-grid-cols-4 {
    @apply grid-cols-4;
  }
}

@media (max-width: 1440px) {
  .custom-grid-cols-2 {
    @apply grid-cols-2;
  }

  .custom-p-3 {
    @apply p-3
  }
}


/* Apply WebKit styles first (for Chrome, Safari) */
.custom-scroll::-webkit-scrollbar {
  width: 14px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #fff;
  border-left: 1px solid #E6E9EC;
  border-radius: 0;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #ff2600;
  border: 3px solid #ffffff;
  border-radius: 0;
  border: none;
}

/* Apply Firefox styles only if WebKit scrollbars are NOT supported */
@supports not selector(::-webkit-scrollbar) {
  .custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #ff2600 #ffffff;
    min-height: 151px;
  }
}


